        
        .bgContact { 
            background: url(../images/contactPage/contactBackground.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }    

        .bgDesDet { 
            background: url(../images/destinationsDetail/destinationsDetailBackground.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }      

        .bgDesLand { 
            background: url(../images/destinationsLanding/destinationsBackgroundDark.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }     
          
        .bgHome { 
            background: url(../images/homePage/homePageBackground.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }  
          
        .bgTopRated { 
            background: url(../images/topRatedPage/topRatedBackgroundDark.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }            

        .logo {
            text-align: left;
            color: #FFFFFF;
            font-family: serif;
            font-size: 1em;
            font-weight: bold;
            margin-top: 30px;
            }

        .navCol {
            margin-top: 30px;
            font-family: 'Space Age';
            font-size: 14px;
        }

        .nav-link {
            color: white;
        }

        .tag {
            font-family: 'Space Age', arial;
            font-size: 25px;
        }

        .blurb {
            font-family: 'Open Sans Condensed', sans-serif;
            color: #d7d7d7;
            font-size: 18px;
        }

        .container {
            padding-left: 0px;
            padding-right: 0px;
        }

        #homepageheadline {
            text-align: left;
            color: #FFFFFF;
            font-family: 'Space Age', arial;
            font-size: 45px;
            margin-top: 30px;
            margin-bottom: 30px
            }
        
        #destinationsheadline { 
            text-align: center;
            color: #FFFFFF;
            font-family: 'Space Age';
            font-size: 40px;
            margin-top: 30px;
            margin-bottom: 30px}

        .destinationTag {
            font-size: 30px;
            padding-top: 33px;
        }    

        .locations {
            color: white;
            font-size: 18px;
            background: rgba(185, 185, 185, 0.5);
            border-radius: 5%;
            padding-top: 12px;
            padding-left: 15px;
            font-family: 'Open Sans Condensed', sans-serif;
        }

        .container .lava {
            position: relative;
            text-align: center;
            color: white;
          }

        .container .earth {
            position: relative;
            text-align: center;
            color: white;
          }  

        .container .saturn {
            position: relative;
            text-align: center;
            color: white;
          } 
          
        .container .gale {
            position: relative;
            text-align: center;
            color: white;
          }      

        .top-left {
            position: absolute;
            top: 8px;
            left: 16px;
            font-family: 'Open Sans Condensed', sans-serif;
            padding-left: 15px;
          }  

        .topratednames { 
            text-align: left;
            color: #FFFFFF;
            font-size: large   ;
            margin-top: 30px;
            margin-bottom: 30px}

        .homepageInfo {
            text-align: right;
            color: #FFFFFF;
            font-size: 1em;
            margin-top: 30px;
            margin-bottom: 30px
            }

        /* .destinationsphotos {
            text-align: right;
            margin-top: 30px;
            margin-bottom: 30px} */

        .topratedphotos {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px}

        .destImg {
            border-radius: 10%;
        }    

        /* .destinationsinfo {
            text-align: left;
            color: #FFFFFF;
            font-size: 1em;
            font-weight: bold;
            margin-top: 30px;} */

        .destinationsinfo {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 18px;
            color: white;
            background: rgba(185, 185, 185, 0.5);
            border-radius: 10%;
            padding-top: 10px;
        }  

        .topImg {
            border-radius: 10%;
        }

        .topRatedImages {
            white-space:nowrap;
        }

        /* .scrollbuttons {
            text-align: right;
            color: #FFFFFF;
            font-size: 1em;
            margin-top: 30px;
            margin-bottom: 30px} */

        .marsheadline {
            /* text-align: left;
            color: #FFFFFF;
            font-size: large;
            margin-top: 30px;
            margin-bottom: 30px */

            font-family: 'Space Age';
            color: white;
            font-size: x-large;
        }

        .starrating {
            text-align: left;
            color: #FFFFFF;
            font-size: large;
            margin-top: 30px;
            margin-bottom: 30px}

        .galecraterinfo { 
            /* text-align: left;
            color: #FFFFFF;
            font-size: 1em;
            font-weight: bold;
            margin-top: 30px; */

            font-family: 'Open Sans Condensed', sans-serif;
            color: white;
            font-size: 0.9em;
        }

        .bookingbuttons {  
            text-align: left;
            color: #FFFFFF;
            font-size: large;
            margin-top: 30px;
            margin-bottom: 30px}

        #destinationdetailphotocallout {  
            text-align: right;
            color: #FFFFFF;
            font-size: large   ;
            margin-top: 30px;
            margin-bottom: 30px}

        .destinationdetailphotos { 
            text-align: right;
            color: #FFFFFF;
            font-size: 1em;
            margin-top: 30px;
            margin-bottom: 30px;
            white-space: nowrap;
        }

        fieldset { text-align: left;
            color: #ffffff;
            font-family: serif;
            font-size: 1em;
            font-weight: bold;
            margin-top: 30px;       }

        #contactUs {
            font-family: 'Space Age';
        }    

        #contactBlurb {
            font-family: 'Open Sans Condensed', sans-serif;
        }

        #contactBlurb2 {
            font-family: 'Open Sans Condensed', sans-serif;
            color: white;
            font-weight: bold;
            font-size: 1em;
        }

        footer {
            text-align: left;
            list-style-type: none;
            text-decoration: none;
            color: #d7d7d7;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: small;
            border-top: 2px solid #d7d7d7;
            margin-top: 30px;
            margin-bottom: 30px
            }
            
        .foot {
            color: #d7d7d7;
        }    
   