        
        .bgContact { 
            background: url(../images/contactPage/contactBackground.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }    

        .bgDesDet { 
            background: url(../images/destinationsDetail/destinationsDetailBackground.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }      

        .bgDesLand { 
            background: url(../images/destinationsLanding/destinationsBackgroundDark.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }     
          
        .bgHome { 
            background: url(../images/homePage/homePageBackground.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }  
          
        .bgTopRated { 
            background: url(../images/topRatedPage/topRatedBackground.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }            

        .logo {
            text-align: left;
            color: #FFFFFF;
            font-family: serif;
            font-size: 1em;
            font-weight: bold;
            margin-top: 30px;
            }

        .navCol {
            margin-top: 30px;
            font-family: 'Space Age';
            font-size: 14px;
        }

        .nav-link {
            color: white;
        }

        .tag {
            font-family: 'Space Age', arial;
            font-size: 25px;
        }

        .blurb {
            font-family: 'Roboto', sans-serif;
            color: #d7d7d7;
        }

        .container {
            padding-left: 0px;
            padding-right: 0px;
        }

        #homepageheadline {
            text-align: left;
            color: #FFFFFF;
            font-family: 'Space Age', arial;
            font-size: 45px;
            margin-top: 30px;
            margin-bottom: 30px
            }
        
        #destinationsheadline { 
            text-align: center;
            color: #FFFFFF;
            font-family: 'Space Age';
            font-size: 40px;
            margin-top: 30px;
            margin-bottom: 30px}

        .destinationTag {
            font-size: 30px;
            padding-top: 33px;
        }    

        .locations {
            color: #d7d7d7;
            font-size: 14px;
        }

        .topratednames { 
            text-align: left;
            color: #FFFFFF;
            font-size: large   ;
            margin-top: 30px;
            margin-bottom: 30px}

        .homepageInfo {
            text-align: right;
            color: #FFFFFF;
            font-size: 1em;
            margin-top: 30px;
            margin-bottom: 30px
            }

        /* .destinationsphotos {
            text-align: right;
            margin-top: 30px;
            margin-bottom: 30px} */

        .topratedphotos {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px}

        .destImg {
            border-radius: 10%;
        }    

        /* .destinationsinfo {
            text-align: left;
            color: #FFFFFF;
            font-size: 1em;
            font-weight: bold;
            margin-top: 30px;} */

        /* .scrollbuttons {
            text-align: right;
            color: #FFFFFF;
            font-size: 1em;
            margin-top: 30px;
            margin-bottom: 30px} */

        .marsheadline {
            text-align: left;
            color: #FFFFFF;
            font-size: large;
            margin-top: 30px;
            margin-bottom: 30px}

        .starrating {
            text-align: left;
            color: #FFFFFF;
            font-size: large;
            margin-top: 30px;
            margin-bottom: 30px}

        .galecraterinfo { 
            text-align: left;
            color: #FFFFFF;
            font-size: 1em;
            font-weight: bold;
            margin-top: 30px;}

        .bookingbuttons {  
            text-align: left;
            color: #FFFFFF;
            font-size: large;
            margin-top: 30px;
            margin-bottom: 30px}

        #destinationdetailphotocallout {  
            text-align: right;
            color: #FFFFFF;
            font-size: large   ;
            margin-top: 30px;
            margin-bottom: 30px}

        .destinationdetailphotos { 
            text-align: right;
            color: #FFFFFF;
            font-size: 1em;
            margin-top: 30px;
            margin-bottom: 30px}

        fieldset { text-align: left;
            color: #ffffff;
            font-family: serif;
            font-size: 1em;
            font-weight: bold;
            margin-top: 30px;       }

        footer {
            text-align: left;
            list-style-type: none;
            text-decoration: none;
            color: #d7d7d7;
            font-family: 'Roboto' sans-serif;
            font-size: small;
            border-top: 2px solid #d7d7d7;
            margin-top: 30px;
            margin-bottom: 30px
            }
            
        .foot {
            color: #d7d7d7;
        }    
   